<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" id="searchForm">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" name="courseName" class="weui-search-bar__input" id="searchInput" placeholder="搜索" />
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label for="search_input" class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<script>
    $(function(){
        var $searchBar = $('#searchBar'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel'),
            $searchForm = $('#searchForm')

        function hideSearchResult(){
            $searchInput.val('')
        }

        function cancelSearch(){
            $searchBar.removeClass('weui-search-bar_focusing')
            $searchText.show()
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing')
            $searchInput.focus()
        })

        $searchForm.on('submit', function (e) {
            e.preventDefault()
            var courseName = $('input[name="courseName"]').val()
            window.location.href = '/search?courseName=' + courseName
            $('input[name="courseName"]').val('')
        })

        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch()
            })

        $searchClear.on('click', function(){
            $searchInput.focus()
        })

        $searchCancel.on('click', function(){
            cancelSearch()
            $searchInput.blur()
        })
    })
</script>
